[Unit]
Description=My Discord bot
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 /home/pi/Documents/discordbot/main.py
WorkingDirectory=/home/pi/Documents/discordbot
User=pi

[Install]
WantedBy=multi-user.target
